<form [formGroup]="loginForm" (submit)="onSubmitAction()">
    <div class="input-field">
        <input type="text" name="username" id="username" formControlName="username">
        <label for="username">Username</label>
    </div>
    <div class="input-field">
        <input type="password" name="password" id="password" formControlName="password">
        <label for="password">Password</label>
    </div>
    <button type="submit">Se connecter</button>
</form>