<div class="container-fluid">
  <div class="row">
    <div class="col s2">
      <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <ng-container *ngIf="user$ | async as user; else visitor">
          <li><a [routerLink]="['/logements']">Logements</a></li>
          <li><a [routerLink]="['/personnes']">Personnes</a></li>
          <li (click)="addProduct($event)"><a>Ajouter un produit</a></li>
          <li><a (click)="logoutAction($event)">Logout</a></li>
        </ng-container>
        <ng-template #visitor>
          <li><a [routerLink]="['/login']">Login</a></li>
        </ng-template>
      </ul>
    </div>
    <div class="col s10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>