<!-- <logement-menu></logement-menu> -->
<!-- <router-outlet></router-outlet> -->

<div class="row">
    <div class="col s12">
        <ul class="tabs" [mTabs]="{}" (mInstance)="mTabInstance = $event">
            <li class="tab col s3"><a href="#test1">List</a></li>
            <li class="tab col s3"><a href="#test2">Create</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12">
        <logement-list>
            <!-- Contenu du selecteur du composant  -->
            <!-- #tableHeader => binding Local -->
            <tr #tableHeader>
                <th>Numero</th>
                <th>Nom</th>
                <th>Lieu</th>
            </tr>
        </logement-list>
        <div class="row" *ngIf="user as u">
            {{ u }}
        </div>
    </div>
    <div id="test2" class="col s12">
        <logement-create></logement-create>
    </div>
</div>