<form [formGroup]="form" (submit)="onSubmitAction()">
    <fieldset formGroupName="logement">
        <div class="input-field">
            <input type="text" name="name" formControlName="name">
            <label for="name">Name</label>
        </div>
        <div class="input-field">
            <input type="number" name="priceByMonth" formControlName="priceByMonth">
            <label for="priceByMonth">Price by month</label>
        </div>
    </fieldset>
    <fieldset formGroupName="address">
        <div class="input-field">
            <input type="text" name="number" formControlName="number">
            <label for="number">Number</label>
        </div>
        <div class="input-field">
            <input type="text" name="street" formControlName="street">
            <label for="street">Street</label>
        </div>
        <div class="input-field">
            <input type="text" name="city" formControlName="city">
            <label for="city">City</label>
        </div>
        <div class="input-field">
            <input type="text" name="country" formControlName="country">
            <label for="country">Country</label>
        </div>
    </fieldset>
    <button type="submit">Ajouter</button>
</form>