<table>
    <thead>
        <ng-content></ng-content>
    </thead>
    <tbody>
        <tr>
            <td>Blop</td>
            <td>Blop</td>
            <td>Blop</td>
        </tr>
    </tbody>
</table>

<table>
    <tbody>
        <tr *ngFor="let product of basket$ | async">
            <td>{{ product.prodId }}</td>
            <td>{{ product.label }}</td>
            <td>{{ product.qtt }}</td>
        </tr>
    </tbody>
</table>